<<div class="row">

  <div class="col-sm-6 text-center" *ngFor="let pelicula of arregloPeliculas">
  <app-pelicula-banner
    [descripcionPelicula]="pelicula.descripcion"
    [nombrePelicula]="pelicula.nombre"
    [esEstreno]="pelicula.esEstreno"
    [urlImagen]="pelicula.urlImagen"
    (dioClickEnEstado)="alertar($event)"
  >
  </app-pelicula-banner>
  <button (click)="pelicula.esEstreno = true"> Cambiar es estreno</button>
</div>


  <div class="col-sm-3 text-center" *ngFor="let pelicula of arregloPeliculasEstrenos">
    <app-pelicula-banner
      [descripcionPelicula]="pelicula.descripcion"
      [nombrePelicula]="pelicula.nombre"
      [esEstreno]="pelicula.esEstreno"
      [urlImagen]="pelicula.urlImagen"
      (dioClickEnEstado)="alertar($event)"
    >
    </app-pelicula-banner>
  </div>


  <div class="col-sm-2 text-center" *ngFor="let pelicula of arregloUltimasPeliculasAgregadas">
    <app-pelicula-banner
      [descripcionPelicula]="pelicula.descripcion"
      [nombrePelicula]="pelicula.nombre"
      [esEstreno]="pelicula.esEstreno"
      [urlImagen]="pelicula.urlImagenA"
      (dioClickEnEstado)="alertar($event)"
    >
    </app-pelicula-banner>
  </div>
</div>
