.sa-fondo-pelicula-banner{
  background-color: #000;
  border-style: solid;
  border-color: #000;
  border-width: 10px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(34%);
  width: 600px;
  height: 400px;
  color: #fff;
}
.sa-colorletras-pelicula-banner{
  color: #fff;
}
.sa-estado{
  max-width: 120px;
  text-align: center;
}
.sa-color-estado-amarillo{
  background-color: #fabb00;
  max-width: 120px;
}
.sa-color-estado-rosado{
  background-color: #e3003e;
  max-width: 120px;
}
.sa-espaciado {
  height: 250px;
}
